* {
  box-sizing: border-box;
}

.Example {
  outline: 2px solid black;
  background-color: gray;
}

.Example--scrollable {
  overflow: auto;
  width: 400px;
  height: 267px;
  outline-color: purple;
}
.Example--a {
  outline-color: green;
  width: 400px;
  height: 267px;
  background-color: green;
}
.Example--b {
  outline-color: blue;
  width: 600px;
  background-color: blue;
}
.Example--c {
  outline-color: yellow;
  width: 600px;
  height: 600px;
  background-color: yellow;
}
.Example--d {
  outline-color: red;
  width: 400px;
  height: 100px;
  background-color: red;
}


.Example--wide {
  outline-color: blue;
  width: 600px;
  height: 200px;
  background-color: blue;
}
.Example--tall {
  outline-color: blue;
  width: 200px;
  height: 600px;
  background-color: blue;
}
