.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

.Table {
  border: 1px solid currentcolor;
  border-collapse: collapse;
  width: 100%;
}

.Table th {
  padding: 4px;
}

.Table td {
  border: 1px solid currentcolor;
  padding: 4px;
}

.Container {
  margin: 0 auto;
  max-width: 800px;
}

.Example {
  max-width: 800px;
  height: 400px;
}

/* Allow the content to take the full width and height of the screen when it's
 * in fullscreen. */
.Example:-webkit-full-screen {
  width: 100%;
  height: 100%;
}
