* {
  box-sizing: border-box;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
}
th {
  background-color: #ddd;
}
td {
  border: 1px solid #555;
  padding: 10px;
}

.Example {
  outline: 2px solid black;
  background-color: gray;
}
.Example:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

.Example--scrollable {
  overflow: auto;
  width: 400px;
  height: 267px;
  outline-color: purple;
}
.Example--a {
  outline-color: green;
  width: 400px;
  height: 267px;
  background-color: green;
}
.Example--b {
  outline-color: blue;
  width: 600px;
  background-color: blue;
}
.Example--c {
  outline-color: yellow;
  width: 600px;
  height: 600px;
  background-color: yellow;
}
.Example--d {
  outline-color: red;
  width: 400px;
  height: 100px;
  background-color: red;
}

.Example--test {
  outline-color: blue;
  width: 846px;
  height: 431px;
  background-color: blue;
}

.Example--square {
  outline-color: blue;
  width: 400px;
  height: 400px;
  background-color: blue;
}

.Example--wide {
  outline-color: blue;
  width: 400px;
  height: 200px;
  background-color: blue;
}
.Example--tall {
  outline-color: blue;
  width: 200px;
  height: 400px;
  background-color: blue;
}
