<div class="sm-Slab">
  <div class="sm-MiniMap">
    [mini map]
  </div>
  <div class="sm-Slab-container"
     unselectable="on"
     onselectstart="return false;"
     onmousedown="return false;">
    <div class="sm-Slab-slot"
         style="background-color:gray;">
         offstyle="background-color:gray;transform:translate(0px, 0px) scale(1);width:1614px;height:1074px;">
      <slot>
      </slot>
    </div>
  </div>
  <div class="sm-PuzzleBoard-zoomControls">
    <button class="pm-PuzzleBoard-zoomIn" ng-click="PuzzleBoardController.zoomIn()">+</button>
    <button class="pm-PuzzleBoard-zoomOut" ng-click="PuzzleBoardController.zoomOut()">-</button>
  </div>
</div>
