/* Prevent the inner content of the slab-massive from breaking out if the parent
 * has defined a width and height.  This also helps when no javascript is active
 * for the page.
 */
slab-massive {
  display: block;
  height: inherit;
  object-fit: contain;
  width: inherit;
}

slab-massive > * {
  display: block;
  height: inherit;
  object-fit: contain;
  width: inherit;
}
