<div class="sm-Slab">
  <div class="sm-ViewFinder">
    <slot id="view-finder">
    </slot>
    <div class="sm-ViewFinder-box"></div>
  </div>
  <div class="sm-Slab-container"
     unselectable="on"
     onselectstart="return false;"
     onmousedown="return false;">
    <div class="sm-Slab-slot">
      <slot>
      <content>
      </content>
      </slot>
    </div>
  </div>
  <div class="sm-Slab-zoomControls">
    <button class="sm-Slab-zoomIn" ng-click="PuzzleBoardController.zoomIn()">+</button>
    <button class="sm-Slab-zoomOut" ng-click="PuzzleBoardController.zoomOut()">-</button>
  </div>
</div>
