.sm-Slab {
  position: relative;
  overflow: hidden;
}

/* All child elements are absolute position except the
 * -container. */
.sm-Slab > * {
  position: absolute;
  z-index: 2;
}

/* The scrollable element */
.sm-Slab-container {
  user-select: none;
  position: relative;
  z-index: 1;
  overflow: scroll;
}

/* Prevent the scrolling from going out of bounds */
.sm-Slab-slotWrapper {
  overflow: hidden;
}

/* Surrounds the actual 'slot' element and is what gets scaled
 * when doing zoom. */
.sm-Slab-slot {
  transform-origin: 0 0;
  outline: 1px solid red;
}

.sm-Slab-slot.is-animating {
  transition: transform 500ms linear;
}

.sm-Slab-zoomControls {
  top: 0;
  left: 0;
}

.sm-Slab-fullscreen,
.sm-Slab-zoomIn,
.sm-Slab-zoomOut {
  display: inline-block;
  display: inline-block;
  cursor: pointer;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom: 0;
  border-radius: 35% 35% 0 0;
  background: rgba(0, 0, 0, 0.2);
  padding: 0 0.4em 0.2em;
  color: rgba(255, 255, 255, 0.6);
  font-size: 20px;
  font-weight: 900;
  line-height: 1.2em;
}

.sm-Slab-fullscreen:disabled,
.sm-Slab-zoomIn:disabled,
.sm-Slab-zoomOut:disabled {
  opacity: 0.5;
  cursor: default;
}
