.sm-ViewFinder {
  top: 30px;
  left: 0;
  cursor: crosshair;
  outline: 1px solid black;
  background-color: rgba(255, 255, 255, 0.4);
}

.sm-ViewFinder.is-zoom1 {
  display: none;
}

.sm-ViewFinder-box {
  transform: translate3d(0px, 0px, 0);
  transform-origin: 0 0;
  transition: transform 300ms linear;
  cursor: crosshair;
  border: 1px solid red;
  width: 30px;
  height: 30px;
}

.sm-ViewFinder-box.is-dragging {
  transition: transform 0ms linear;
  background-color: rgba(0, 0, 0, 0.2);
}
